<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newlyDevoured="{{devoured}}">
		{{#if devoured}}It's been Devoured!{{else}}You should probably eat this!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
